@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Satisfy&display=swap');

/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #ffffff;  /* Cambiado a blanco */
    background-color: #000000;
}


.container { /*Se utiliza para modificar la anchura, etc*/
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilos para el titulo */
.header {
    background-color: #000000;
    padding: 0.5rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    text-align: center;
}

.header-top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
}

.logo img {
    max-width: 75px; /* Ajusta según necesidad */
    height: auto;
    display: block;
}

.nav-menu {
    background-color: #000000;
    padding: 0.5rem 0;
}

.nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.nav-menu ul li {
    display: inline;
}

.nav-menu ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-menu ul li a:hover {
    color: #787b84;
}
.login-btn {
    display: inline-block;
    margin-left: 0px;
    text-decoration: none;
}

.login-icon {
    width: 60%; /* Ajusta el tamaño según necesites */
    height: 60%;
    cursor: pointer;
}



.header-content { /*modifica contenido del header*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.header-txt { /*modifica tamaño de espacio del txt*/
    max-width: 1000px;
}

.header-txt h1 { /*tamaño letra y espacio de parrafo*/
    font-size: 45px;
    margin-bottom: 20px;

}

.header-txt p { /*modifica el espaico de imageen*/
    margin-bottom: 20px;
}


.header-img img { /*modifica imagen principal*/
    max-width: 100%;
    border-radius: 19px;
    box-shadow: 0 4px 15px rgb(0, 0, 0); /*sobra de recuadros*/

}


.contacto { /*cambia el fondo y alinea al centro*/
    background-color: #232222;
    padding: 4rem 0;
    text-align: center;
}

.contacto h2 { /*modifica el subtitle*/
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 1rem;
    text-shadow: 0 0 10px rgb(255, 255, 255);
}

.contacto p { /*modica el parraf*/
    font-size: 1rem;
    color: #a8a8a8;
    margin-bottom: 2rem;
}

.contact-form { /*modifica el lugar del form*/
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.contact-form label { /*modifica el texto del form*/
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #d5d5d5;
}


/* Pie de página */
.footer {
    background-color: #000000;
    color: #ffffff;
    padding: 2rem 0;
    text-align: center;
    border-top: 2px solid #ffffff;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.footer-section.brand {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
}

.footer-section.social {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.footer-section.social a {
    font-size: 1.5rem;
    color: #ffffff;
    text-decoration: none;
}

.footer-section.social a:hover {
    color: #ccc;
}


.distribuidores {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.distribuidor {
    text-align: center;
    width: 48%; /* Ajusta el ancho de los elementos */
}

img {
    width: 100%;
    border-radius: 10px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #ffffff;
    text-shadow: 0 0 10px rgb(255, 255, 255);
    text-align: center;
    padding: 4rem 0;
}

/* Contenedor principal del video y texto */
.video-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5rem 2rem;
    background: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.video-section h1 {
    font-size: 3rem;
    color: #ffffff;
    font-family: 'Poppins', sans-serif ;
    margin-bottom: 20px;
}

.video-section p {
    font-size: 1.2rem;
    color: #d0d0d0;
    line-height: 1.8;
    max-width: 800px;
    margin-bottom: 2rem;
}

.video-section video {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
    margin-top: 1rem;
}






/* Responsividad para pantalla de cel*/
@media (max-width: 768px) {
    .nav-menu ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    nav ul li a {
        display: block;
        width: 100%;
        text-align: center;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }
    .footer-section.social {
        justify-content: center;
        margin-top: 10px;
    }

    .ofer-content {
        flex-direction: column;
    }

    .ofert-1 {
        max-width: 100%; 
    }
}
